.parent {
    display: flex;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

.appBar{
    order: 0;
}

.childDiv {
    display: flex;
    margin-top: 90px;
}

.nameTitle {
    text-shadow: #fff;
    text-shadow: 5cm;
}

.scrolling {
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;

    max-height: 50vh;
    min-height: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.bullets {
    font-size: medium;
}

.videos {
    border-radius: 30px;
    padding: 16px;
    width: 350px;
    height: 200px;
}

.leftBar {
    flex: 0 0 auto;
    flex-direction: column;
    width: 25vw;
    background-color: #eee;
    height: 100vh;
}
  
.rightBar { 
    flex: 1;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color: #f5f5f5;
}